.ant-radio-button-wrapper{
    border: 1px solid #265b8e ;  
    color: #265b8e ;
    border-color: #265b8e !important;
    border-left: 1px solid #265b8e;  
}
.ant-btn-primary:hover, .ant-btn-primary:focus, .ant-radio-button-wrapper-checked:first-child, .ant-btn-primary, .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled), .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    background: linear-gradient(to left,#0a2f52,#265b8e );
    border: 1px solid #265b8e ;
    color: #fff ;
}
.green-btn.ant-btn.ant-btn-primary{
    background: linear-gradient(to left,#47bc53,#19a26c );
    border-color: transparent;
}
/* .isoLoginContent .isoSignInForm .isoForgotPass */
.text-white, .text-white:nth-child(2) {
    color: #fff !important;
}
.ant-input-number,.ant-input, .ant-select-selection{
    border: 1px solid #265b8e;
}
.ant-select-arrow .ant-select-arrow-icon, .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
    color: #265b8e;
}
.ant-btn-primary:active, .ant-btn-primary.active{
    background: none;
    border: none;
}
.ant-radio-button-wrapper:hover{
    background: #265b8e;
    border: 1px solid #265b8e;
    color: #fff;
}
.ant-steps-item-description, .ant-steps-item-title{
    display: none;
}
.ant-steps-vertical {
    display: flex;
}
.plecaAzul{
    margin-bottom: 1rem;
    padding-bottom: 0rem;
    border: none;
    background-image: linear-gradient(to left,#0a2f52,#265b8e );
    height: 4px;
    border-radius: 3px;
}
.plecaHeader{
    border-bottom: solid 2px #2b6599;
}
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon, .ant-menu-horizontal > .ant-menu-item > a:hover {
    color: #2b6599;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: 2px solid #47bc53;
}
.ant-btn-primary{
    border: none;
}
.barsBtn{
    background: #fdfdfd;  
}
.kgOqYV .barsBtn:after, .kgOqYV .barsBtn:before{
    background: #fdfdfd;
}
.align-flex-xy-center, .align-flex-xy-center > span+span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-group-style [class^="icon-"]{
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 0.3em;    
}
.d-none{
    display: none;
}
.btn-navigation{
    width: 100%;
    margin-top: 16px;
}
.ant-progress-success-bg, .ant-progress-bg{
    background-color: #47bc53;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
    color: #47bc53;
}
.centerButtons{
    display: flex;
    justify-content: center;

}
.ant-steps-item-tail:after, .ant-steps-item-finish > .ant-steps-item-tail:after, .ant-steps-item-process > .ant-steps-item-tail:after, .ant-steps-item-wait > .ant-steps-item-tail:after{
    background: transparent;
    background-color: transparent;
}
.ant-form-item-control{
    margin: 1em 0;
}
.ant-form-item{
    margin-bottom: 0;
}
.ajusteEspacioFechas{
    padding-bottom: 3rem;
}
.ant-input-number-disabled .ant-input-number-input{
    color: #2f2f2f;
}
.isoLoginContent, .isoSignUpContent{
    /* background: linear-gradient(to left,#0a2f52,#265b8e ); */
    border-radius: 1rem;
}
.isoSignInPage{
    margin: 1.5rem 0;
}
.socSinup .isoSignInPage{
    margin: 1rem
}
.isoLoginContent{
    padding: 2rem 2rem;  
    justify-content: center;
    align-items: center;  
}
.socSinup .isoLoginContent{
    padding:2rem 1.3rem;
}
.btn-plus-green, .btn-plus-green:hover, .btn-plus-green:focus{   
    color: #47bc53;
    border-color: #47bc53;
}
.btn-minus-red, .btn-minus-red:hover, .btn-minus-red:focus{
    color: #f5222d;
    border-color: #f5222d;
}
.logoContainerSig{
    width: 35%;
    background: #ffffff;
    margin-bottom: 1rem;    
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.titulo2{
    color: #205280;
}
.img-1{
    width: 100%;
    height: auto;
}
.content-format{
    padding: 0 5px;
}
.text-justify{
    text-align: justify;
}
.bg-azul{
    background-image: linear-gradient(to left,#0a2f52,#265b8e );
}
.ant-input::-webkit-input-placeholder, input::-webkit-input-placeholder {
    text-align: left;
    color: #265b8e !important;
}
/* .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title{
    color: #fff;
} */
.isoExampleWrapper{
    width: 100%;
}
@media (min-width: 576px) {
    .isoLoginContentWrapper{
        width: 35%;
        
    }
    .isoSignInForm .isoForgotPass{
        color: #205280 !important;
    }
    .isoSignUpContent{
        width: 100%;
    }    
}
@media (min-width: 768px) {
    .content-format{
        padding: 0 25px;
    }    
    .ant-steps-item-description,.ant-steps-item-title{
        display: block;
    }
    .d-sm-block{
        display: block;
    }
    .isoLoginContentWrapper, .isoSignUpContent{
        width: 3linear-gradient(to left,#0a2f52,#265b8e )5%;
    }
}
@media (min-width: 992px) {
    .ant-steps-vertical {
        display: block;
    }
    .content-format{
        padding: 0 50px;
    }
    .d-md-block{
        display: block;
    }
    .plecaAzul{
        margin-bottom: 1rem;
        padding-bottom: 0rem;
        border: none;        
        width: 60%;
    }
    .isoLoginContentWrapper{
        width: 25%;
    }
    .isoSignUpContent {
        width: 35%;
    }
}

@media (min-width: 1200px) { 
    .isoExampleWrapper{
        width: 75%;
    }
}

