@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vdq47s');
  src:  url('fonts/icomoon.eot?vdq47s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vdq47s') format('truetype'),
    url('fonts/icomoon.woff?vdq47s') format('woff'),
    url('fonts/icomoon.svg?vdq47s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo .path1:before {
  content: "\e900";
  color: rgb(63, 179, 74);
}
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(63, 179, 74);
}
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(63, 179, 74);
}
.icon-logo .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(63, 179, 74);
}
.icon-logo .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(63, 179, 74);
}
.icon-logo .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(63, 179, 74);
}
.icon-logo .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(63, 179, 74);
}
.icon-logo .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 87, 147);
}
.icon-logo .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 87, 147);
}
.icon-logo .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 87, 147);
}
.icon-logo .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-logo .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(68, 86, 110);
}
.icon-construccion:before {
  content: "\e91e";
}
.icon-liquidez:before {
  content: "\e91f";
}
.icon-hipoteca:before {
  content: "\e920";
}
.icon-terrain:before {
  content: "\e921";
}
.icon-terrenoconstruccion:before {
  content: "\e922";
}
.icon-casa:before {
  content: "\e923";
}
